body {
    font-family:  cursive;
}

.special {
  font-family: system-ui;
}
h1 {
	font-family: system-ui;
  
}

.outer {
  border: 1px solid black;
}

.box {
  font-family: system-ui;
  padding: 10px;
  background-color: #F9F9DB;
}
h2 {font-family: serif;}
p {
	font-family: serif;
}